.contato {
    background-color: var(--cor-11);
}

.contato {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px; 
}

/* titulo */

.contato-titulo {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    padding-bottom: 30px;
}

/* contatos */

.fundo-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-11);
    overflow: hidden;
    padding-bottom: 30px;    
}

.fundo-form-img{
    display:flex;
    justify-content: flex-end;
    align-items:center;     
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;    
}

.fundo-form-texto {
    display:flex;
    justify-content:center;
    padding: 30px 30px 60px 60px;    
    background-color: var(--cor-p1); 
    max-width: 100%;
    justify-content: start;
    align-items:center;          
}



/* titulo chamada */

.formulario-titulo {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;

}

/* formulario */

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: left;
    padding-bottom: 30px;    
}

.contato-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;   
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form label {
    display: block;    
    margin-bottom: 4px;
}

.form .col-2 {
    grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {    
    background: var(--cor-1);
    border: 1px solid var(--cor-2);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    outline: none;
    border-color: var(--cor-p1);
    background: var(--cor-0);
    box-shadow: 0 0 0 2px #fea;
}

@media (max-width:1300px) {
    .contato-titulo {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        margin-left: 60px;
        font-size: 48px;
    }
    .fundo-form {
        display: grid;
        grid-template-columns: 1fr;
    }
    .formulario {
        margin-left: 50px;
        margin-right: auto;        
    }
    .formulario-titulo {
        display: block;
        text-align: left;
        margin-left:60px;
        font-size: 48px;
    }    
    
}

@media (max-width:800px) {
    .contato-titulo {
        font-size: 32px;
    }
    
    .fundo-form-texto li{
        font-size: 16px;
    }

    .formulario {        
        width: 380px;
        font-size: 16px;
    }
    .formulario-titulo {
        font-size: 32px;
    }   
}

@media (max-width:500px) {
    .contato-titulo {
        font-size: 24px;
    }
    
    .fundo-form-texto li{
        font-size: 12px;
    }

    .formulario {        
        width: 300px;
        font-size: 12px;
    } 
    .formulario-titulo {
        font-size: 24px;
    }     
}

@media (max-width:400px) {


    .contato-titulo {
        font-size: 18px;
    }
    
    .fundo-form-texto li{
        font-size: 10px;
    }

    .formulario {        
        width: 180px;
        font-size: 10px;
    } 
    .formulario-titulo {
        font-size: 18px;
    }  
}



    
  