/*------------------
* ----- 1.geral      ------
* ----- 2.typograph  ------
* ----- 3. bg ------
* ----- 4.Contato-page ------
* ----- 5.werwr     ------
------------------*/



/*------1 -Geral-------
---------------------*/




/*--- 2-typograph ----
---------------------*/
.text-color-white{
    color: white;
}

.text-color-black{
    color: black;
}

.text-color-1{
    color: #363636;
}

.text-color-2{
    color: #636363;
}

.text-color-3{
    color: #d2d2d2;
}

.text-color-4{
    color: #fff200;
}

.text-color-5{
    color: #0084b4;
}

.text-color-6{
    color: #0084b4;
}





/*--- 2-typograph ----
---------------------*/

.bg-carrosel{
    background-color: aquamarine;
}

.bg-footer{
    background-color: #770025;
    padding: 8px 0px 2px 0px;
}

.bg-footer-termos{
    background-color: #111111;
    height: 70px;
}


/*------3 -bg-------
---------------------*/

.bg-section-newsletter{
    background-color: #0084b4;
    padding: 30px 0px 30px 0px;

}

